<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a (click)="home()" class="handPointer">Home</a>
      </li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="mb-2  d-flex justify-content-end">
        <button class="btn btn-primary mx-1" (click)="exportToCSV()">
          CSV export
        </button>
      </div>
    </div>
    <div class="column col-lg-12">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-12 mb-2 d-flex justify-content-end">
              <input
                class="form-input"
                type="text"
                id="globalSearch"
                (input)="onChange($event)"
                placeholder="Search"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="column col-lg-12">
      <ngx-table
        [configuration]="configuration"
        [data]="data"
        #table
        [pagination]="pagination"
        [columns]="columns"
      >
      </ngx-table>
    </div>
    <mat-paginator
  [length]="paginationTotalItems"
  [pageSize]="10"
  (page)="paginationEvent($event)"
  [pageSizeOptions]="[5, 10, 25, 100]"
>
</mat-paginator>
  </div>
</section>
